# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Visual Studio Code
.vscode/

# Archivos sensibles
.env
.env.*
Certificados/.env
# Ignorar archivos de configuración sensibles
Certificados/Credenciales.env
Certificados/client_secret.json
Certificados/token.json
Python/token.json
token.json

# MacOS
.DS_Store
Certificados/client_secret_942850939849-6frfnvlm0fl6t0dlvg7v8qb6ure15e14.apps.googleusercontent.com.json
token.json